<ion-content >
  <div style="display: flex; flex-direction: column; justify-content: center; padding: 20px;">

    <div >
      <div style="position: absolute;">
        <ion-button fill="clear" shape="round"> 
          <ion-icon size="medium" slot="icon-only" name="arrow-back-outline" style=" font-weight: 600; font-size: 24px;"></ion-icon>
        </ion-button>
      </div>

      
      <img [src]="postDetailsImage" onerror="" style="width: 100%; border-radius: 10px;" />
    </div>
    <!-- Judul -->
    <h1>{{postDetailsTitle}}</h1>

    <!-- Content -->
    <div [innerHtml]="postDetailsContent"></div>
  </div>
  <!-- Featured Image -->



  <!-- Content -->

<!-- <div class="comment-button"><span>komentar</span><span>20</span></div> -->

</ion-content>

