<ion-content>
  <!-- HEADER -->

  <div
    id="header"
   
  >
    <div class="home-content">
      <app-home-navigation></app-home-navigation>

      <h6 style="text-align: center">Hari ini saya ingin belajar tentang</h6>

      <div
        id="navigasi"
        style="
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
          height: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 20px;
        "
      >
        <nav
          *ngFor="let dog of catData"
          style="
            display: inline-block;
            margin-right: 8px;
            padding: 5px;
            margin-bottom: 20px;
            margin-top: 20px;
          "
        >
          <span
            routerLink="/homepage/halamanList/{{dog.catId}}"
            routerLinkActive="active"
            style="border-radius: 8px; padding: 8px; color: black; font-weight: 600;"
            >{{dog.catName}}
          </span>
        </nav>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <router-outlet></router-outlet>

  <!-- <div class="send-pray-button">
    <span>kami akan mendoakan kamu!</span>
  </div> -->
</ion-content>
<!--  -->
