.navigation-style{
    border: solid 2px salmon;
}

.send-pray-button{
    position: sticky;
    background-color: peru;
    text-align: right;
    bottom: 80px;
    
}

.home-content {
    margin-left: 20px;
    margin-right: 20px;
    
}

.scroll-menu{
    overflow: auto;
    white-space: nowrap;

    
}

 span.active{
    // color: green;
    background-color: rgb(117, 4, 108);
        
}