<ion-content>
  <div class="home-content">
    <app-home-navigation></app-home-navigation>

    <div  style="
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  ">
      <nav *ngFor="let dog of catData" style="display: inline-block; margin-right: 8px; padding: 5px">
        <span
          routerLink="/homepage/halamanList/{{dog.catId}}"
          routerLinkActive="active"
          style="border: solid gray 1px; border-radius: 8px; padding: 8px"
          >{{dog.catName}} - {{dog.catId}}
        </span>
      </nav>
    </div>

     <div style="margin: 20px"></div>

    <router-outlet></router-outlet>

    <!-- <div class="send-pray-button">
    <span>kami akan mendoakan kamu!</span>
  </div> -->
  </div>
</ion-content>
<!--  -->
