<ion-content class="home-content">
  <app-home-navigation></app-home-navigation>

  <div>
    <span (click)="cat1()" class="navigation-style"> Category 1 </span>
    <span (click)="cat2()" class="navigation-style"> Category 2 </span>
    <ion-button size="small"> Doa </ion-button>
    <ion-button size="small" color="dark"> Doa </ion-button>
    <ion-button size="small" color="light"> Doa </ion-button>
  </div>

  <router-outlet></router-outlet>

  <div class="send-pray-button">
    <span>kami akan mendoakan kamu!</span>
  </div>
</ion-content>
